.clients {
	padding: 80px 0 90px;
	background-color: var(--gray-color);
	@media (max-width: 1024px) {
		padding: 40px 0 50px;
	}

	&--white{
		background-color: var(--light-color);
		padding-top: 180px;
		padding-bottom: 110px;

		@media (max-width: 1024px) {
			padding-top: 100px;
		}
	}


	&__body {
	}

	&__links {
		&:not(:last-child) {
			margin-bottom: 170px;
			@media (max-width: 1024px) {
				margin-bottom: 60px;
			}
			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}
}

.clients-links {
	&__heading {
	}

	&__list {
		@include flex-all-c;
		flex-wrap: wrap;
		margin: -5px -50px;
	}
	&__item {
		flex: 0 0 120px;
		margin: 5px 50px;
	}
	&__link {
		opacity: 0.6;
		transition: all 0.3s;

		&:hover {
			opacity: 1;
		}
	}
}
