.filter {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	//flex-wrap: wrap;
	overflow: auto;
	&__item {
		
	}

	&__btn {
		padding: 10px 20px;
		border-radius: 4px;
		width: 205px;
		border: 1px solid transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: transparent;
		color: var(--gray-600);
		font-weight: 700;
		font-size: 1rem;
		line-height: 160%;
		transition: all 0.3s;

		&:hover,
		&.active {
			color: var(--primary-color);
			border-color: var(--primary-color);

		}
	}
}
