.footer {
	padding: 80px 0;
	background-color: var(--dark-color);
	@media (max-width: 1024px) {
		padding: 60px 0;
	}
	@media (max-width: 768px) {
		padding: 30px 0;
	}

	&__body {
		color: var(--main-dark-color);

		& > *:not(:last-child) {
			margin-bottom: 50px;

			@media (max-width: 768px) {
				margin-bottom: 20px;
			}
		}
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: -10px -15px;

		& > * {
			flex: 0 1 45%;
			padding: 10px 15px;

			@media (max-width: 768px) {
				flex: 1 1 100%;
			}
		}
	}

	&__middle {
		display: flex;
		flex-wrap: wrap;
		margin: -10px -15px;

		& > * {
			padding: 10px 15px;
		}
	}

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
		margin: -10px -15px;

		& > * {
			padding: 10px 15px;
		}
	}
}
.footer-top {
	&__info {
		display: flex;
		flex-wrap: wrap;
		align-self: flex-start;
		margin: -12px -15px;

		& > * {
			padding: 12px 15px;
			align-self: flex-start;
		}
	}

	&__logo {
	}

	&__social {
	}

	&__text {
		margin: 0;
		padding: 10px 15px;
		flex: 1 1 auto;
		line-height: 150%;
		font-size: rem(14);
	}

	&__subscribe {
	}
}
.social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -5px -8px;
	&__item {
		padding: 5px 8px;
	}

	&__link {
		svg {
			transition: all 0.3s;
			fill: var(--main-dark-color);
		}
		&:hover {
			svg {
				fill: var(--primary-color);
			}
		}
	}
}
.subscribe {
	margin-top: -10px;
	&__title {
		padding: 0;
		margin: 0;
		font-weight: 700;
		font-size: rem(24);
		line-height: 150%;
		color: var(--light-color);
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__form {
		display: flex;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		.form__input {
			width: 100%;
			background: rgba(255, 255, 255, 0.12);
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-right: none;
			border-radius: 4px 0px 0px 4px;
		}
	}

	&__input {
	}

	&__btn {
		border-radius: 0px 4px 4px 0px;
	}

	&__small {
		padding: 0;
		margin: 0;
		font-style: normal;
		font-weight: 400;
		font-size: rem(12);
		line-height: 150%;
		color: inherit;
	}
}
.footer-middle {
	align-items: start;
	&__address-box {
		flex: 0 1 35%;
		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}

	&__nav {
		flex: 0 1 20%;
		align-self: stretch;
		@media (max-width: 1024px) {
			flex: 0 1 25%;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}
}
.address-box {
	&__title {
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}

	&__list {
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		& > * {
			margin-right: 4px;
		}
	}

	&__text {
		color: var(--light-color);
	}

	&__link {
		color: var(--main-dark-color);
		text-decoration: none;
		font-style: normal;
		transition: all 0.3s;

		&:hover {
			color: var(--primary-color);
		}
	}
}

.footer-nav {
	&__title {
		@media (max-width: 768px) {
			border: 2px solid var(--light-color);
			border-radius: 4px;
			padding: 8px 10px;
			padding-right: 45px;
			font-size: rem(18);
			position: relative;

			&::after,
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: var(--light-color);
				width: 25px;
				height: 2px;
				transition: all 0.3s;
			}
			&::after {
				right: 10px;
				transform: rotate(90deg);
			}
			&::before {
				right: 10px;
			}

			&.active {
				&::after {
					transform: rotate(45deg);
				}
				&::before {
					transform: rotate(-45deg);
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 13px;
			@media (max-width: 768px) {
				margin-bottom: unset;
			}
		}
		@media (max-width: 768px) {
			& + * {
				margin-top: 10px;
			}
		}
	}

	&__list {
		@media (max-width: 768px) {
			display: none;
		}

		@media (max-width: 768px) {
			&.active {
				display: block;
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__link {
		color: var(--main-dark-color);
		text-decoration: none;
		transition: all 0.3s;
		@media (max-width: 768px) {
			font-size: rem(18);
		}
		&:hover {
			color: var(--primary-color);
		}
	}
}
.footer-bottom {
	&__copyrights {
		margin: 0;
		padding: 10px 15px;
		font-weight: 400;
		font-style: normal;
		font-size: rem(12);
		line-height: 150%;
		color: var(--light-color);
	}

	&__top-link {
		@media (max-width: 1024px) {
			padding-right: 80px;
		}
	}
}
.copyright-icon {
}
.top-link {
	display: flex;
	align-items: flex-end;

	text-decoration: none;
	text-transform: uppercase;
	color: var(--light-color);
	transition: all 0.3s;

	& > :not(:last-child) {
		margin-right: 16px;
	}

	&:hover {
		color: var(--primary-color);

		.top-link__icon {
			background-color: transparent;
			svg {
				fill: var(--primary-color);
			}
		}
	}
	&__text {
	}

	&__icon {
		width: 40px;
		height: 40px;
		@include flex-all-c;
		border: 1px solid var(--primary-color);
		background: var(--primary-color);
		border-radius: 4px;
		transition: all 0.3s;
		svg {
			fill: var(--light-color);
			transition: all 0.3s;
		}
	}
}
