.form {
	&__label {
		display: flex;
		flex-direction: column;
	}

	&__label-text {
		font-size: rem(14);
		line-height: 150%;
		color: var(--menu-color);
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__input {
		background: #f4f5f7;
		border: 1px solid #d7dadd;
		border-radius: 4px;
		padding: 11px 16px;
	}

	&__textarea {
		resize: none;
	}

	&__btn {
		text-align: center;
		justify-content: center;
	}
}
