.modals {
	z-index: 100;
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(30, 33, 44, 0.75);
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		opacity: 0;
		overflow: auto;
		visibility: hidden;
		transition: all 0.3s;

		&.active {
			opacity: 1;
			visibility: visible;
			transition: all 0.3s;
		}
	}

	&__modal {
		background: var(--light-color);
		border: 1px solid #e5e8ed;
		box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1),
			0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
		border-radius: 4px;
		padding: 48px;
		position: relative;
		display: none;

		@media (max-width: 500px) {
			padding: 48px 20px;
		}

		&.active {
			display: block;
		}
	}

	&__subscribe {
		flex: 0 1 486px;
	}
	
	&__send-cv {
		flex: 0 1 486px;
		width: 100%;
	}

	&__title {
		padding: 0;
		margin: 0;
		font-weight: 700;
		font-size: rem(28);
		line-height: 150%;
		text-align: center;
		color: var(--dark-color);

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__btn-close {
		position: absolute;
		top: 28px;
		right: 28px;
		font-size: 0;
		background: transparent;
		width: 24px;
		height: 24px;
		line-height: 0;
		border: none;
		background-image: url("../img/icons/crose.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0 0;
		transition: all 0.3s;

		@media (max-width: 500px) {
			top: 18px;
			right: 18px;
		}

		&:hover {
			background-image: url("../img/icons/crose--accent.svg");
		}
	}
}
.modal-subscribe {
	&__btn-close {
	}

	&__title {
	}

	&__form {
	}

	&__label {
		margin-bottom: 20px;
	}

	&__input {
	}

	&__btn {
		margin-top: 40px;
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.modal-send-cv {

	&__btn-close {
	}

	&__title {
	}

	&__form {
	}

	&__label {
		margin-bottom: 20px;
	}

	&__input {
	}

	&__btn {
		margin-top: 40px;
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
