html,
body {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 160%;
	color: var(--main-color);
	background: var(--bg-color);
}

/*--- Utility ---*/
.none {
	display: none !important;
}

.visually-hidden {
	// делает элемент скрытым, но он по-прежнему на странице
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.hidden {
	opacity: 0;
}

.no-scroll {
	overflow: hidden;
}
/*--- Grid ---*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: calc(var(--container-width) + 30px);
	padding: 0 15px;
	margin: 0 auto;
}

/*--- Elements ---*/
.accent-text {
	color: var(--primary-color);
}
.btn {
	display: inline-flex;
	text-decoration: none;
	font-family: var(--main-font);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--light-color);
	border: 1px solid transparent;
	border-radius: 4px;
	background: var(--primary-color);
	letter-spacing: 0.5px;
	font-size: rem(16);
	padding: 12px 39px;
	transition: all 0.3s;

	@media (max-width: 500px) {
		flex: 1 1 auto;
		padding: 12px;
	}
	&:hover {
		background: transparent;
		color: var(--primary-color);
		border-color: var(--primary-color);
	}
}

.btn--hover-white {
	&:hover {
		border-color: var(--light-color);
		color: var(--light-color);
	}
}

.title-section {
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: rem(48);
	color: var(--title-color);
	line-height: 130%;
	@media (max-width: 500px) {
		font-size: rem(30);
	}
}

.title-second {
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: rem(28);
	line-height: 150%;
	color: var(--title-color);
}

.heading {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;

	&:not(:last-child) {
		margin-bottom: 60px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: 24px;
			@media (max-width: 500px) {
				margin-bottom: 15px;
			}
		}
	}

	&__text {
		padding: 0;
		margin: 0;
		font-size: rem(18);
	}
}
