// Vars
:root {
	// Colors
	--main-color: #787a80;
	--bg-color: #fff;
	--primary-color: #ff5a30;
	--title-color: #1e212c;
	--menu-color: #424551;
	--light-color: #fff;

	// Sizes
	--container-width: 1230px;
	--header-height: 92px;

	@media (max-width: 1024px) {
		--header-height: 70px;
	}
	// Fonts
	--arial-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
	--main-font: "Ubuntu", sans-serif;
	--second-font: "Lato", sans-serif;
}

// MEDIA MIXIN
@mixin mediaMaxW($max-width) {
	@media (max-width: $max-width) {
		@content;
	}
}
@mixin media1000px {
	@media (max-width: 1000px) {
		@content;
	}
}
@mixin max768px {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin max480px {
	@media (max-width: 480px) {
		@content;
	}
}

// PERCENTAGE LINE-HEIGHT
@function lh($line-height, $font-size) {
	@return calc($line-height / $font-size * 100%);
}

// FONT-FACE MIXIN
@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url("#{$file-path}.eot");
		src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"), url("#{$file-path}.woff") format("woff"),
			url("#{$file-path}.ttf") format("truetype");
	}
}

// FROM PX TO REM
@function rem($px) {
	@return calc($px / 16) + rem;
}
// FROM PX TO REM
@function em($px) {
	@return calc($px / 16) + em;
}

// Flex
@mixin flex-all-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-sb-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-col-c {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin flex-aic {
	display: flex;
	align-items: center;
}
