@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/swiper-bundle.css";
:root {
  --main-color: #787a80;
  --main-dark-color: #83858b;
  --bg-color: #fff;
  --primary-color: #ff5a30;
  --dark-color: #1e212c;
  --menu-color: #424551;
  --light-color: #fff;
  --gray-color: #f4f5f7;
  --gray-700: #787A80;
  --light-gray: #d7dadd;
  --container-width: 1230px;
  --header-height: 92px;
  --cover-padding-top: calc(80px + var(--header-height));
  --arial-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --main-font: "Ubuntu", sans-serif;
  --second-font: "Lato", sans-serif;
}
@media (max-width: 1024px) {
  :root {
    --header-height: 70px;
    --cover-padding-top: calc(60px + var(--header-height));
  }
}
@media (max-width: 768px) {
  :root {
    --cover-padding-top: calc(30px + var(--header-height));
  }
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Black.eot");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--- Common ---*/
/*body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}*/
.reset {
  margin: 0;
  padding: 0;
}

/*--- List ---*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--- Images, Video ---*/
img,
svg,
video,
source {
  max-width: 100%;
  display: inline-block;
}

/*--- Form ---*/
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

button,
input[type=submit] {
  cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 160%;
  color: var(--main-color);
  background: var(--bg-color);
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.hidden {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: calc(var(--container-width) + 30px);
  padding: 0 15px;
  margin: 0 auto;
}

/*--- Elements ---*/
.accent-text {
  color: var(--primary-color);
}

.btn {
  display: inline-flex;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-color);
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--primary-color);
  letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 12px 39px;
  transition: all 0.3s;
}
@media (max-width: 500px) {
  .btn {
    flex: 1 1 auto;
    padding: 12px;
  }
}
.btn:hover {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn--stroke {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn--stroke:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn--hover-white:hover {
  border-color: var(--light-color);
  color: var(--light-color);
}

.title-section {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 2.875rem;
  color: var(--dark-color);
  line-height: 130%;
}
@media (max-width: 500px) {
  .title-section {
    font-size: 1.875rem;
  }
}

.title-second {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
  color: var(--dark-color);
}
@media (max-width: 500px) {
  .title-second {
    font-size: 1.375rem;
  }
}

.third-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1px;
  color: var(--light-color);
}

.heading {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.heading:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .heading:not(:last-child) {
    margin-bottom: 30px;
  }
}
.heading__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .heading__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.heading__text {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

.heading--btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  max-width: unset;
}
@media (max-width: 768px) {
  .heading--btn {
    flex-direction: column;
    justify-content: unset;
  }
}
.heading--btn .heading__title {
  flex: 0 1 705px;
  align-self: center;
}
@media (max-width: 768px) {
  .heading--btn .heading__title {
    flex: 1 1 auto;
  }
}
.heading--btn .heading__btn-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .heading--btn .heading__btn-box {
    margin-bottom: unset;
  }
}
.heading--btn .heading__btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--menu-color);
  transition: all 0.3s;
}
.heading--btn .heading__btn:hover {
  background: var(--primary-color);
  color: var(--light-color);
}
.heading--btn .heading__btn svg {
  width: 18px;
  height: 12px;
  fill: currentColor;
}
.bottom-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px -20px;
}
.bottom-block > * {
  margin: 5px 20px;
}
.bottom-block__title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
  color: var(--dark-color);
}
@media (max-width: 500px) {
  .bottom-block__title {
    font-size: 1.375rem;
  }
}
@media (max-width: 768px) {
  .bottom-block__link {
    justify-content: center;
  }
}

.header {
  padding: 20px 0;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 55;
  transition: top 0.3s;
}
.header--white {
  background: var(--light-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header__body {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__body > *:not(:last-child) {
  padding-right: 15px;
}
@media (max-width: 1024px) {
  .header__body > *:not(:last-child) {
    padding-right: unset;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__logo:not(:last-child) {
  margin-right: 45px;
}
.header__nav:not(:last-child) {
  margin-right: auto;
}
@media (max-width: 1024px) {
  .header__nav:not(:last-child) {
    margin-right: unset;
  }
}
.header__contacts {
  flex-shrink: 0;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .menu__list {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: auto;
    padding: 30px 15px;
    right: -100%;
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    transition: right 0.3s;
  }
  .menu__list.active {
    right: 0;
  }
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .menu__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 25px;
  }
}
.menu__link {
  color: var(--menu-color);
  text-decoration: none;
  font-weight: 800;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link:hover {
  color: var(--primary-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-contacts {
    position: fixed;
    bottom: 15px;
    right: 15px;
    flex-direction: column;
    z-index: 1;
  }
}
.header-contacts > *:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 1024px) {
  .header-contacts > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 15px;
  }
}
.header-contacts__item {
  line-height: 1.5;
  padding-left: 52px;
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
  transition: all 0.3s;
  background-position: center left;
  background-size: 40px;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header-contacts__item {
    background-color: var(--light-color);
    padding: unset;
    background-position: center;
    background-size: 35px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}
.header-contacts__item > * {
  display: block;
}
@media (max-width: 1024px) {
  .header-contacts__item > * {
    font-size: 0;
    display: none;
  }
}
.header-contacts__item:hover {
  color: var(--primary-color);
}
.header-contacts__item--phone {
  background-image: url("../img/icons/phone.svg");
}
.header-contacts__text {
  margin: 0;
  color: var(--menu-color);
  font-size: 0.875rem;
  font-weight: 700;
}
.header-contacts__item--email {
  background-image: url("../img/icons/chat.svg");
}

.menu-btn {
  display: none;
}
@media (max-width: 1024px) {
  .menu-btn {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    display: block;
    position: relative;
  }
  .menu-btn.active span {
    opacity: 0;
  }
  .menu-btn.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  .menu-btn.active::after {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
}
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}
.menu-btn::before, .menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transition: all 0.3s;
}
.menu-btn::before {
  top: 0;
}
.menu-btn::after {
  bottom: 0;
}

body.scroll-down .header {
  top: -100%;
  transition: top 0.3s;
}

body.scroll-up .header {
  top: 0;
  transition: top 0.3s;
}

body.no-scroll .header {
  top: 0;
  transition: top 0.3s;
}

.cover {
  padding-top: var(--cover-padding-top);
  padding-bottom: 80px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1440px) {
  .cover {
    min-height: 100%;
  }
}
@media (max-width: 1024px) {
  .cover {
    padding-top: calc(60px + var(--header-height));
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .cover {
    padding-top: calc(30px + var(--header-height));
    padding-bottom: 30px;
  }
}
.cover__body {
  max-width: 600px;
}
.cover__breadcrums:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .cover__breadcrums:not(:last-child) {
    margin-bottom: 25px;
  }
}
.cover__title {
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  text-transform: uppercase;
  line-height: 130%;
  font-size: 4.5rem;
}
@media (max-width: 1024px) {
  .cover__title {
    font-size: 3.25rem;
  }
}
@media (max-width: 768px) {
  .cover__title {
    font-size: 2.5rem;
  }
}
.cover__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .cover__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.cover__text {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  line-height: 150%;
}
@media (max-width: 1024px) {
  .cover__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .cover__text {
    font-size: 1rem;
  }
}

.breadcrums {
  display: flex;
}
.breadcrums__item:not(:last-child) {
  margin-right: 8px;
}
.breadcrums__item:not(:last-child)::after {
  content: "/";
  margin-left: 8px;
}
.breadcrums__link {
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 150%;
  transition: all 0.3s;
  color: var(--menu-color);
}
.breadcrums__link:hover {
  color: var(--primary-color);
}
.breadcrums__link--active {
  color: var(--main-color);
}

.footer {
  padding: 80px 0;
  background-color: var(--dark-color);
}
@media (max-width: 1024px) {
  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__body {
  color: var(--main-dark-color);
}
.footer__body > *:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .footer__body > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px -15px;
}
.footer__top > * {
  flex: 0 1 45%;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .footer__top > * {
    flex: 1 1 100%;
  }
}
.footer__middle {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}
.footer__middle > * {
  padding: 10px 15px;
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: -10px -15px;
}
.footer__bottom > * {
  padding: 10px 15px;
}

.footer-top__info {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: -12px -15px;
}
.footer-top__info > * {
  padding: 12px 15px;
  align-self: flex-start;
}
.footer-top__text {
  margin: 0;
  padding: 10px 15px;
  flex: 1 1 auto;
  line-height: 150%;
  font-size: 0.875rem;
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px -8px;
}
.social__item {
  padding: 5px 8px;
}
.social__link svg {
  transition: all 0.3s;
  fill: var(--main-dark-color);
}
.social__link:hover svg {
  fill: var(--primary-color);
}

.subscribe {
  margin-top: -10px;
}
.subscribe__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--light-color);
}
.subscribe__title:not(:last-child) {
  margin-bottom: 24px;
}
.subscribe__form {
  display: flex;
  width: 100%;
}
.subscribe__form:not(:last-child) {
  margin-bottom: 16px;
}
.subscribe__form .form__input {
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}
.subscribe__btn {
  border-radius: 0px 4px 4px 0px;
}
.subscribe__small {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: inherit;
}

.footer-middle {
  align-items: start;
}
.footer-middle__address-box {
  flex: 0 1 35%;
}
@media (max-width: 768px) {
  .footer-middle__address-box {
    flex: 1 1 100%;
  }
}
.footer-middle__nav {
  flex: 0 1 20%;
  align-self: stretch;
}
@media (max-width: 1024px) {
  .footer-middle__nav {
    flex: 0 1 25%;
  }
}
@media (max-width: 768px) {
  .footer-middle__nav {
    flex: 1 1 100%;
  }
}

.address-box__title:not(:last-child) {
  margin-bottom: 13px;
}
.address-box__item {
  display: flex;
  flex-wrap: wrap;
}
.address-box__item:not(:last-child) {
  margin-bottom: 4px;
}
.address-box__item > * {
  margin-right: 4px;
}
.address-box__text {
  color: var(--light-color);
}
.address-box__link {
  color: var(--main-dark-color);
  text-decoration: none;
  font-style: normal;
  transition: all 0.3s;
}
.address-box__link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .footer-nav__title {
    border: 2px solid var(--light-color);
    padding: 8px 10px;
    padding-right: 45px;
    font-size: 1.125rem;
    position: relative;
  }
  .footer-nav__title::after, .footer-nav__title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--light-color);
    width: 25px;
    height: 2px;
    transition: all 0.3s;
  }
  .footer-nav__title::after {
    right: 10px;
    transform: rotate(90deg);
  }
  .footer-nav__title::before {
    right: 10px;
  }
  .footer-nav__title.active::after {
    transform: rotate(45deg);
  }
  .footer-nav__title.active::before {
    transform: rotate(-45deg);
  }
}
.footer-nav__title:not(:last-child) {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .footer-nav__title:not(:last-child) {
    margin-bottom: unset;
  }
}
@media (max-width: 768px) {
  .footer-nav__title + * {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .footer-nav__list {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer-nav__list.active {
    display: block;
  }
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-nav__link {
  color: var(--main-dark-color);
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .footer-nav__link {
    font-size: 1.125rem;
  }
}
.footer-nav__link:hover {
  color: var(--primary-color);
}

.footer-bottom__copyrights {
  margin: 0;
  padding: 10px 15px;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 150%;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .footer-bottom__top-link {
    padding-right: 80px;
  }
}

.top-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light-color);
  transition: all 0.3s;
}
.top-link > :not(:last-child) {
  margin-right: 16px;
}
.top-link:hover {
  color: var(--primary-color);
}
.top-link:hover .top-link__icon {
  background-color: transparent;
}
.top-link:hover .top-link__icon svg {
  fill: var(--primary-color);
}
.top-link__icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  border-radius: 4px;
  transition: all 0.3s;
}
.top-link__icon svg {
  fill: var(--light-color);
  transition: all 0.3s;
}

.hero {
  background: var(--menu-color);
}
.hero-slider__btn-prev, .hero-slider__btn-next {
  color: var(--menu-color);
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s;
}
.hero-slider__btn-prev::after, .hero-slider__btn-next::after {
  display: none;
}
@media (max-width: 768px) {
  .hero-slider__btn-prev, .hero-slider__btn-next {
    display: none;
  }
}
.hero-slider__btn-prev:hover, .hero-slider__btn-next:hover {
  background: rgb(255, 255, 255);
}
.hero-slider__btn-prev svg, .hero-slider__btn-next svg {
  width: 18px;
  height: 11px;
  fill: currentColor;
}
.hero-slider__btn-prev {
  left: 15px;
}
.hero-slider__btn-next {
  right: 15px;
}
.hero-slider__pagination {
  bottom: 50px !important;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  text-align: left;
}
@media (max-width: 1440px) {
  .hero-slider__pagination {
    bottom: 30px !important;
    right: 60px !important;
    left: 90px !important;
  }
}
@media (max-width: 768px) {
  .hero-slider__pagination {
    bottom: 15px !important;
    right: 15px !important;
    left: 15px !important;
  }
}
.hero-slider__pagination .swiper-pagination-bullet {
  width: 178px;
  height: auto;
  display: inline-flex;
  border-radius: 0;
  background: transparent;
  border-bottom: 4px solid var(--light-color);
  color: var(--light-color);
  font-family: var(--main-font);
  font-size: 1.75rem;
  line-height: 150%;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .hero-slider__pagination .swiper-pagination-bullet {
    flex: 0 1 100px;
    width: unset;
  }
}
@media (max-width: 500px) {
  .hero-slider__pagination .swiper-pagination-bullet {
    flex: unset;
    min-width: 60px;
  }
}

.hero-slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-slide__image img,
.hero-slide__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero-slide__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 44, 0.6);
  z-index: 2;
}
.hero-slide__body {
  --padding-top: calc(15px + var(--header-height));
  padding: var(--padding-top) 0 120px;
  max-width: 650px;
  min-height: calc(100vh - var(--padding-top) - 120px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--light-color);
}
@media (max-width: 1440px) {
  .hero-slide__body {
    min-height: 100%;
    padding: 0 60px;
    padding-top: calc(var(--header-height) + 60px);
    padding-bottom: calc(var(--header-height) + 100px);
  }
}
@media (max-width: 768px) {
  .hero-slide__body {
    padding: 0 15px;
    padding-top: calc(var(--header-height) + 30px);
    padding-bottom: calc(var(--header-height) + 100px);
  }
}
.hero-slide__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media (max-width: 1024px) {
  .hero-slide__title {
    font-size: 3.4375rem;
  }
}
@media (max-width: 768px) {
  .hero-slide__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .hero-slide__title {
    font-size: 2.1875rem;
  }
}
.hero-slide__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .hero-slide__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero-slide__text {
  margin: 0;
  font-size: 1.25rem;
  line-height: 150%;
}
.hero-slide__text:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .hero-slide__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero-slide__btn-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
}
@media (max-width: 500px) {
  .hero-slide__btn-box {
    margin-top: -15px;
  }
}
.hero-slide__btn-box > *:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 500px) {
  .hero-slide__btn-box > *:not(:last-child) {
    margin-right: unset;
  }
}
.hero-slide__btn {
  margin-top: 24px;
}
@media (max-width: 500px) {
  .hero-slide__btn {
    flex: 1 1 100%;
    margin-top: 15px;
  }
}

.video-section {
  padding-top: 120px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .video-section {
    padding: 30px 0 15px;
  }
}
.video-section__video-box {
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 4px;
  overflow: hidden;
}
.video-section__video-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-section__video-overlay img,
.video-section__video-overlay source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-section__video-overlay::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 33, 44, 0.6);
}
.video-section__btn {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
}
.video-section__btn svg {
  fill: var(--light-color);
  transition: all 0.3s;
}
.video-section__btn:hover {
  background: rgb(255, 255, 255);
}
.video-section__btn:hover svg {
  fill: var(--primary-color);
}
.video-section__btn-play {
  width: 80px;
  height: 80px;
  background: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
@media (max-width: 500px) {
  .video-section__btn-play {
    width: 60px;
    height: 60px;
  }
}
.video-section__btn-mute {
  width: 40px;
  height: 40px;
  bottom: 32px;
  left: 32px;
  background: rgba(255, 255, 255, 0.12);
}
@media (max-width: 500px) {
  .video-section__btn-mute {
    left: 15px;
    bottom: 15px;
  }
}
.video-section__video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.values {
  padding-top: 60px;
  padding-bottom: 270px;
  background: var(--light-color);
}
@media (max-width: 768px) {
  .values {
    padding: 30px 0;
  }
}
.values__list {
  --gap-vertical: 188px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px var(--gap-vertical);
}
@media (max-width: 1024px) {
  .values__list {
    --gap-vertical: 100px;
  }
}
@media (max-width: 768px) {
  .values__list {
    --gap-vertical: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .values__list {
    grid-template-columns: 1fr;
  }
}
.values__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.values__item + *::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #dadbdd;
  left: calc(var(--gap-vertical) / 2 * -1);
}
.values__icon {
  position: relative;
  width: 48px;
  height: 48px;
}
.values__icon:not(:last-child) {
  margin-bottom: 24px;
}
.values__icon img,
.values__icon source,
.values__icon svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.values__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--dark-color);
}
.values__title:not(:last-child) {
  margin-bottom: 8px;
}
.values__text {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

.form-section {
  margin-top: -150px;
  margin-bottom: -100px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .form-section {
    margin-top: unset;
  }
}
.form-section__body {
  padding: 48px 60px;
  background: var(--light-color);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .form-section__body {
    padding: 28px 40px;
  }
}
@media (max-width: 500px) {
  .form-section__body {
    padding: 15px 20px;
  }
}
.form-section__title {
  text-align: center;
}
.form-section__title:not(:last-child) {
  margin-bottom: 32px;
}
.form-section__form {
  display: flex;
  align-items: flex-end;
  margin: -5px -12px;
}
@media (max-width: 1024px) {
  .form-section__form {
    flex-wrap: wrap;
  }
}
.form-section__form > * {
  margin: 5px 12px;
}
.form-section__label {
  flex: 0 1 260px;
}
@media (max-width: 1024px) {
  .form-section__label {
    flex-grow: 1;
  }
}
.form-section__label--textarea {
  flex: 1 1 auto;
}
@media (max-width: 1024px) {
  .form-section__label--textarea {
    flex-basis: 100%;
  }
}
.form-section__input {
  max-height: 49px;
}
.form-section__textarea {
  max-height: 49px;
  overflow-y: hidden;
}
.form-section__btn {
  font-size: 0.875rem;
}
@media (max-width: 1024px) {
  .form-section__btn {
    flex-grow: 1;
  }
}

.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background: url("../img/services/bg.svg") center/cover no-repeat #f4f5f7;
}
@media (max-width: 768px) {
  .services-section {
    padding: 130px 0 30px;
  }
}
.services-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-template-rows: 285px;
  grid-auto-rows: 285px;
  gap: 30px;
}
@media (max-width: 768px) {
  .services-section__list {
    gap: 15px;
  }
}
.services-section__list:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .services-section__list:not(:last-child) {
    margin-bottom: 40px;
  }
}
.services-section__item {
  position: relative;
  background: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.services-section__item:hover .services-section__image {
  opacity: 1;
}
.services-section__item:hover .services-section__icon,
.services-section__item:hover .services-section__title {
  color: var(--light-color);
}
.services-section__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
.services-section__image::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e212c;
  opacity: 0.6;
}
.services-section__image img,
.services-section__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.services-section__icon {
  color: var(--primary-color);
  transition: all 0.3s;
}
.services-section__icon:not(:last-child) {
  margin-bottom: 25px;
}
.services-section__icon svg {
  fill: currentColor;
}
.services-section__title {
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  transition: all 0.3s;
}

.project-section {
  padding: 120px 0;
  background: var(--light-color);
}
@media (max-width: 1024px) {
  .project-section {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .project-section {
    padding: 30px 0;
  }
}
.project-section--padding {
  padding-top: 180px;
}
@media (max-width: 1024px) {
  .project-section--padding {
    padding: 100px 0 60px;
  }
}
@media (max-width: 768px) {
  .project-section--padding {
    padding: 60px 0 30px;
  }
}
.project-section__heading {
  position: relative;
  z-index: 2;
}
.project-section__heading:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .project-section__heading:not(:last-child) {
    margin-bottom: 15px;
  }
}
.project-section__slider:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .project-section__slider:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .project-section__slider:not(:last-child) {
    margin-bottom: 15px;
  }
}
.project-slider {
  margin: -50px -20px;
  padding: 50px 20px;
  overflow: hidden;
}
.project-card {
  position: relateive;
  min-height: 440px;
  box-shadow: 0px 3px 6px 2px rgba(154, 156, 165, 0.2);
  border-radius: 4px;
  overflow: hidden;
  display: block;
  color: inherit;
}
@media (max-width: 1024px) {
  .project-card {
    min-height: 340px;
  }
}
.project-card:hover .project-card__content {
  bottom: 0;
}
.project-card:hover .project-card__image img,
.project-card:hover .project-card__image source {
  transform: scale(1.1);
}
.project-card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.project-card__image img,
.project-card__image source {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.project-card__content {
  position: absolute;
  z-index: 2;
  bottom: -90px;
  left: 0;
  right: 0;
  background-color: var(--light-color);
  min-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 150%;
  padding: 24px 10px;
  transition: bottom 0.3s;
}
.project-card__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--dark-color);
}
.project-card__title:not(:last-child) {
  margin-bottom: 4px;
}
.project-card__text {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}
.project-card__text:not(:last-child) {
  margin-bottom: 24px;
}
.clients {
  padding: 80px 0 90px;
  background-color: var(--gray-color);
}
@media (max-width: 1024px) {
  .clients {
    padding: 40px 0 50px;
  }
}
.clients--white {
  background-color: var(--light-color);
  padding-top: 180px;
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  .clients--white {
    padding-top: 100px;
  }
}
.clients__links:not(:last-child) {
  margin-bottom: 170px;
}
@media (max-width: 1024px) {
  .clients__links:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .clients__links:not(:last-child) {
    margin-bottom: 30px;
  }
}

.clients-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px -50px;
}
.clients-links__item {
  flex: 0 0 120px;
  margin: 5px 50px;
}
.clients-links__link {
  opacity: 0.6;
  transition: all 0.3s;
}
.clients-links__link:hover {
  opacity: 1;
}

.reviews {
  padding: 80px 0 120px;
  background-color: var(--gray-color);
}
@media (max-width: 1024px) {
  .reviews {
    padding: 40px 0 90px;
  }
}
.reviews__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .reviews__body {
    flex-direction: column;
  }
}
.reviews__content {
  flex: 0 1 620px;
  max-width: 620px;
}
@media (max-width: 1024px) {
  .reviews__content {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .reviews__content {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.reviews__heading {
  text-align: left;
}
.reviews__image {
  flex: 0 1 495px;
  padding-bottom: 45%;
  position: relative;
  margin-bottom: -160px;
  overflow: hidden;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  .reviews__image {
    flex: 0 1 50%;
  }
}
.reviews__image img,
.reviews__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .reviews__image img,
  .reviews__image source {
    object-position: top;
  }
}

.reviews-slider__btn-box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
}
.reviews-slider__btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--menu-color);
  transition: all 0.3s;
}
.reviews-slider__btn:hover {
  background: var(--primary-color);
  color: var(--light-color);
}
.reviews-slider__btn svg {
  width: 18px;
  height: 12px;
  fill: currentColor;
}
.reviews-slide > *:not(:last-child) {
  margin-bottom: 24px;
}
.reviews-slide__image {
  position: relative;
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
}
.reviews-slide__image img,
.reviews-slide__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-slide__text {
  padding: 0;
  margin: 0;
  color: var(--menu-color);
}
.reviews-slide__info {
  padding-right: 150px;
}
.reviews-slide__info > *:not(:last-child) {
  margin-bottom: 4px;
}
.reviews-slide__name {
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 1rem;
}
.reviews-slide__position {
  padding: 0;
  margin: 0;
}

.facts {
  padding-top: 180px;
  padding-bottom: 90px;
  background-color: var(--light-color);
  background-image: url("../img/facts/decor.png");
  background-position-y: -500px;
  background-position-x: left;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .facts {
    padding-top: 120px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .facts {
    padding-bottom: 15px;
  }
}
.facts__list {
  display: grid;
  max-width: 860px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px 35px;
}
@media (max-width: 1024px) {
  .facts__list {
    gap: 15px;
  }
}
.facts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}
.facts__circle-progress:not(:last-child) {
  margin-bottom: 20px;
}
.facts__title {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: var(--dark-color);
  flex: 1 1 auto;
}

.news-section {
  padding: 90px 0 120px;
  background-color: var(--light-color);
}
@media (max-width: 1024px) {
  .news-section {
    padding: 30px 0 60px;
  }
}
@media (max-width: 768px) {
  .news-section {
    padding: 15px 0 30px;
  }
}
.news-section__list {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 30px;
}
@media (max-width: 1024px) {
  .news-section__list {
    grid-template-columns: 1.2fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .news-section__list {
    grid-template-columns: 1fr;
  }
}
.news-section__list:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .news-section__list:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .news-section__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
.news-section__item--big:first-child {
  grid-row: span 2;
}
@media (max-width: 768px) {
  .news-section__item--big:first-child {
    grid-row: auto;
  }
}
.news-section__item--small .news-post__text {
  display: none;
}
.news-section__item--small .news-post__image {
  padding-bottom: 30%;
}
.contacts-section {
  position: relative;
  padding: 80px 0;
  background-color: var(--light-color);
}
@media (max-width: 1024px) {
  .contacts-section {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .contacts-section {
    padding: 0 0 30px;
  }
}
.contacts-section__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .contacts-section__image {
    position: relative;
    height: unset;
    padding-bottom: 40%;
  }
}
.contacts-section__image img,
.contacts-section__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts-section__body {
  position: relative;
  z-index: 2;
  max-width: 495px;
  margin-left: auto;
  background-color: var(--light-color);
  padding: 48px 40px;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .contacts-section__body {
    max-width: 100%;
    margin-top: -15%;
  }
}
@media (max-width: 550px) {
  .contacts-section__body {
    padding: 20px 15px;
  }
}
.contacts-section__title {
  text-align: center;
}
.contacts-section__title:not(:last-child) {
  margin-bottom: 24px;
}
.contacts-section__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts-section__form > *:not(.form__btn) {
  width: 100%;
}
.contacts-section__form > *:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-section__form .form__textarea {
  min-height: 66px;
  overflow: auto;
}
.contacts-section__form .form__checkbox-label:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .contacts-section__form .form__btn {
    width: 100%;
  }
}

.services {
  padding-top: 120px;
  padding-bottom: 180px;
}
@media (max-width: 1024px) {
  .services {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 30px 0;
  }
}
.services__item:not(:last-child) {
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .services__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.services-item > * {
  flex: 0 1 47.5%;
}
@media (max-width: 768px) {
  .services-item > * {
    flex: 1 1 auto;
  }
}
.services-item > *:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .services-item > *:not(:last-child) {
    margin-bottom: 15px;
    margin-right: unset;
  }
}
.services-item--img-right {
  flex-wrap: wrap-reverse;
}
.services-item--img-right > *:not(:last-child) {
  margin-bottom: unset !important;
  margin-top: 15px;
}
.services-item__image {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  padding-bottom: 34.2%;
  width: 100%;
}
.services-item__image img, .services-item__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.services-item__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .services-item__title {
    font-size: 1.5625rem;
  }
}
.services-item__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .services-item__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.services-item__text {
  padding: 0;
  margin: 0;
}
.services-item__text:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .services-item__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .services-item__btn {
    width: 100%;
    justify-content: center;
  }
}

.process {
  padding: 120px 0;
}
@media (max-width: 1024px) {
  .process {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .process {
    padding: 30px 0;
  }
}
.process__body > *:not(:last-child) {
  margin-bottom: 180px;
}
@media (max-width: 1024px) {
  .process__body > *:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .process__body > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.process__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.process__info > *:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .process__info > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 15px;
  }
}
.process-info__image {
  flex: 0 1 57%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  padding-bottom: 36%;
}
@media (max-width: 768px) {
  .process-info__image {
    flex: 1 1 100%;
  }
}
.process-info__image img, .process-info__image source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.process-info__content {
  flex: 0 1 35%;
}
@media (max-width: 768px) {
  .process-info__content {
    flex: 1 1 100%;
  }
}
.process-info__title {
  padding: 0;
  margin: 0;
}
.process-info__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .process-info__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.process-info__item {
  overflow: hidden;
}
.process-info__item:not(:last-child) {
  margin-bottom: 24px;
}
.process-info__item-title {
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}
.process-info__item-title:not(:last-child) {
  margin-bottom: 12px;
}
.process-info__item-title::before, .process-info__item-title::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 20px;
  width: 24px;
  height: 2px;
  background: var(--primary-color);
  transition: opacity 0.3s;
}
.process-info__item-title::after {
  opacity: 1;
  transform: rotate(90deg);
}
.process-info__item-title.active::after {
  opacity: 0;
}
.process-info__item-text {
  padding: 0;
  margin: 0;
  padding-left: 45px;
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s;
}
.process-info__item-text.active {
  height: 100%;
  opacity: 1;
}

.process-steps__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .process-steps__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.process-steps__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.process-steps__item {
  flex: 0 1 25%;
  padding: 15px;
}
@media (max-width: 1024px) {
  .process-steps__item {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 768px) {
  .process-steps__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 550px) {
  .process-steps__item {
    flex: 1 1 100%;
  }
}

.process-step:hover .process-step__number {
  color: var(--primary-color);
  position: relative;
}
.process-step:hover .process-step__number::before {
  content: "";
  opacity: 1;
}
.process-step__number {
  display: flex;
  align-items: center;
  font-size: 2.9375rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--light-gray);
  transition: all 0.3s;
}
.process-step__number:not(:last-child) {
  margin-bottom: 16px;
}
.process-step__number:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: url("../img/services/line.svg") left/cover no-repeat;
  margin-left: 23px;
}
.process-step__number:not(:last-child)::before {
  box-sizing: content-box;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  width: 84px;
  height: 84px;
  background: rgba(255, 90, 48, 0.12);
  border: 16px solid #fff5f3;
  transition: all 0.3s;
}
.process-step__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
  color: var(--dark-color);
}
.process-step__title:not(:last-child) {
  margin-bottom: 8px;
}
.process-step__text {
  padding: 0;
  margin: 0;
}

.benefits {
  padding-top: 80px;
  background: var(--dark-color);
}
.benefits:last-child {
  margin-bottom: 26px;
}
.benefits__heading .heading__title {
  color: var(--light-color);
}
.benefits__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .benefits__list:not(:last-child) {
    margin-bottom: 60px;
  }
}
.benefits__list .values__title {
  color: var(--light-color);
}
.benefits__btn {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  margin-bottom: -26px;
  max-width: 390px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.benefits__btn:hover {
  background: #fff;
}

.pricing {
  padding: 80px 0 30px;
  background-color: var(--gray-color);
}
.pricing__table-wrapper {
  overflow-y: auto;
}
.pricing-table {
  border-collapse: collapse;
  width: 100%;
  background: var(--light-color);
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.pricing-table__row:nth-child(odd) {
  background-color: var(--light-color);
}
.pricing-table__row:nth-child(even) {
  background-color: var(--gray-color);
}
.pricing-table__row > *:not(:first-child) {
  text-align: center;
}
.pricing-table__cell-heading {
  padding-top: 24px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--dark-color);
  text-transform: uppercase;
  padding: 24px;
  min-width: 245px;
}
.pricing-table__cell-heading > *:not(:last-child) {
  margin-bottom: 2px;
}
.pricing-table__cell-heading span {
  display: block;
  font-size: 1.125rem;
  text-transform: none;
  color: var(--gray-700);
}
.pricing-table__cell-heading--small {
  text-transform: none;
  font-size: 1.125rem;
  width: 40%;
  vertical-align: bottom;
  min-width: 150px;
  text-align: left;
}
.pricing-table__cell {
  padding: 16px 24px;
  color: var(--menu-color);
}
.pricing-table__check-mark {
  fill: var(--primary-color);
}
.pricing-table__link {
  padding-left: 24px;
  padding-right: 24px;
  margin: 16px 0;
}

.form__label {
  display: flex;
  flex-direction: column;
}
.form__label-text {
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--menu-color);
}
.form__label-text:not(:last-child) {
  margin-bottom: 8px;
}
.form__input {
  background: #f4f5f7;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 11px 16px;
}
.form__textarea {
  resize: none;
}
.form__btn {
  text-align: center;
  justify-content: center;
}
.form__checkbox-label {
  display: flex;
  cursor: pointer;
}
.form__checkbox-label > *:not(:last-child) {
  margin-right: 12px;
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked ~ .form__checkbox-icon {
  background-color: var(--primary-color);
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
  border: 1px solid var(--primary-color);
}
.form__checkbox-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #b3b7bc;
  border-radius: 3px;
}
.form__checkbox-text {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--menu-color);
}

.circle-progress {
  --strokeWidth: 10px;
  --bgColor: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.circle-progress::before {
  content: "";
  position: absolute;
  top: var(--strokeWidth);
  bottom: var(--strokeWidth);
  left: var(--strokeWidth);
  right: var(--strokeWidth);
  border-radius: 50%;
  background: var(--bgColor);
  z-index: 2;
}
.circle-progress__value {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: var(--dark-color);
}

.news-post {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  background-color: var(--light-color);
  overflow: hidden;
}
.news-post:hover .news-post__title {
  color: var(--primary-color);
}
.news-post:hover .news-post__image img,
.news-post:hover .news-post__image source {
  transform: scale(1.1);
}
.news-post__wrapper-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.news-post__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 55%;
  overflow: hidden;
  transition: all 0.3s;
}
.news-post__image img,
.news-post__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.news-post__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 24px;
}
@media (max-width: 1024px) {
  .news-post__content {
    padding: 15px;
  }
}
.news-post__title {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-color);
  line-height: 150%;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .news-post__title {
    font-size: 1.125rem;
  }
}
.news-post__title:not(:last-child) {
  margin-bottom: 12px;
}
.news-post__data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.news-post__data > * {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
}
.news-post__data > *:not(:last-child) {
  margin-right: 12px;
}
.news-post__data > *:not(:last-child)::after {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 12px;
  margin-left: 12px;
  background-color: var(--main-color);
}
.news-post__data:not(:last-child) {
  margin-bottom: 16px;
}
.news-post__comments::before {
  content: "";
  display: inline-flex;
  width: 15px;
  height: 13px;
  background: url("../img/icons/chat--grey.svg") center/100% no-repeat;
  margin-right: 8px;
}
.news-post__text {
  padding: 0;
  margin: 0;
  color: var(--menu-color);
}