@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/swiper-bundle.css";
:root {
  --main-color: #787a80;
  --bg-color: #fff;
  --primary-color: #ff5a30;
  --title-color: #1e212c;
  --menu-color: #424551;
  --white-color: #fff;
  --container-width: 1230px;
  --header-height: 92px;
  --arial-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --main-font: "Ubuntu", sans-serif;
  --second-font: "Lato", sans-serif;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Black.eot");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--- Common ---*/
/*body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}*/
.reset {
  margin: 0;
  padding: 0;
}

/*--- List ---*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--- Images, Video ---*/
img,
svg,
video,
source {
  max-width: 100%;
  display: inline-block;
}

/*--- Form ---*/
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

button,
input[type=submit] {
  cursor: pointer;
}

.btn-reset {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.6;
  color: var(--main-color);
  background: var(--bg-color);
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.hidden {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: calc(var(--container-width) + 30px);
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .container--pagination {
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

/*--- Elements ---*/
.accent-text {
  color: var(--primary-color);
}

.btn {
  display: inline-flex;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--primary-color);
  letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 12px 39px;
  transition: all 0.3s;
}
@media (max-width: 500px) {
  .btn {
    flex: 1 1 auto;
    padding: 12px;
  }
}
.btn:hover {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn--hover-white:hover {
  border-color: var(--white-color);
  color: var(--white-color);
}

.header {
  padding: 20px 0;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 55;
  background: var(--white-color);
  transition: top 0.3s;
}
.header__body {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__body > *:not(:last-child) {
  padding-right: 15px;
}
@media (max-width: 1024px) {
  .header__body > *:not(:last-child) {
    padding-right: unset;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__logo:not(:last-child) {
  margin-right: 45px;
}
.header__nav:not(:last-child) {
  margin-right: auto;
}
@media (max-width: 1024px) {
  .header__nav:not(:last-child) {
    margin-right: unset;
  }
}
.header__contacts {
  flex-shrink: 0;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .menu__list {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: auto;
    padding: 30px 15px;
    right: -100%;
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    transition: right 0.3s;
  }
  .menu__list.active {
    right: 0;
  }
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .menu__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 25px;
  }
}
.menu__link {
  color: var(--menu-color);
  text-decoration: none;
  font-weight: 800;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link:hover {
  color: var(--primary-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-contacts {
    position: fixed;
    bottom: 15px;
    right: 15px;
    flex-direction: column;
    z-index: 1;
  }
}
.header-contacts > *:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 1024px) {
  .header-contacts > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 15px;
  }
}
.header-contacts__item {
  line-height: 1.5;
  padding-left: 52px;
  color: var(--title-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .header-contacts__item {
    background-color: var(--white-color);
    background-size: 35px;
    padding: unset;
    background-position: center;
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}
.header-contacts__item > * {
  display: block;
}
@media (max-width: 1024px) {
  .header-contacts__item > * {
    font-size: 0;
    display: none;
  }
}
.header-contacts__item:hover {
  color: var(--primary-color);
}
.header-contacts__item--phone {
  background: url("../img/icons/phone.svg") top left/40px no-repeat;
}
.header-contacts__text {
  margin: 0;
  color: var(--menu-color);
  font-size: 0.875rem;
  font-weight: 700;
}
.header-contacts__item--email {
  background: url("../img/icons/chat.svg") top left/40px no-repeat;
}

.menu-btn {
  display: none;
}
@media (max-width: 1024px) {
  .menu-btn {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    display: block;
    position: relative;
  }
  .menu-btn.active span {
    opacity: 0;
  }
  .menu-btn.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  .menu-btn.active::after {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
}
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}
.menu-btn::before, .menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transition: all 0.3s;
}
.menu-btn::before {
  top: 0;
}
.menu-btn::after {
  bottom: 0;
}

body.scroll-down .header {
  top: -100%;
  transition: top 0.3s;
}

body.scroll-up .header {
  top: 0;
  transition: top 0.3s;
}

.hero-slider__btn-prev, .hero-slider__btn-next {
  color: var(--menu-color);
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s;
}
.hero-slider__btn-prev::after, .hero-slider__btn-next::after {
  display: none;
}
@media (max-width: 768px) {
  .hero-slider__btn-prev, .hero-slider__btn-next {
    display: none;
  }
}
.hero-slider__btn-prev:hover, .hero-slider__btn-next:hover {
  background: rgb(255, 255, 255);
}
.hero-slider__btn-prev svg, .hero-slider__btn-next svg {
  width: 18px;
  height: 11px;
  fill: currentColor;
}
.hero-slider__btn-prev {
  left: 15px;
}
.hero-slider__btn-next {
  right: 15px;
}
.hero-slider__pagination {
  bottom: 50px !important;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  text-align: left;
}
@media (max-width: 1440px) {
  .hero-slider__pagination {
    bottom: 30px !important;
    right: 60px !important;
    left: 60px !important;
  }
}
@media (max-width: 768px) {
  .hero-slider__pagination {
    bottom: 15px !important;
    right: 15px !important;
    left: 15px !important;
  }
}
.hero-slider__pagination .swiper-pagination-bullet {
  width: 178px;
  height: auto;
  display: inline-flex;
  border-radius: 0;
  background: transparent;
  border-bottom: 4px solid var(--white-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 1.75rem;
  line-height: 150%;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .hero-slider__pagination .swiper-pagination-bullet {
    flex: 0 1 100px;
    width: unset;
  }
}
@media (max-width: 500px) {
  .hero-slider__pagination .swiper-pagination-bullet {
    flex: unset;
    min-width: 60px;
  }
}

.hero-slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-slide__image img,
.hero-slide__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero-slide__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 44, 0.6);
  z-index: 2;
}
.hero-slide__body {
  --padding-top: calc(15px + var(--header-height));
  padding: var(--padding-top) 0 120px;
  max-width: 650px;
  min-height: calc(100vh - var(--padding-top) - 120px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
}
@media (max-width: 1440px) {
  .hero-slide__body {
    min-height: 100%;
    padding: 0 60px;
    padding-top: calc(var(--header-height) + 60px);
    padding-bottom: calc(var(--header-height) + 100px);
  }
}
@media (max-width: 768px) {
  .hero-slide__body {
    padding: 0 15px;
    padding-top: calc(var(--header-height) + 30px);
  }
}
.hero-slide__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media (max-width: 1024px) {
  .hero-slide__title {
    font-size: 3.4375rem;
  }
}
@media (max-width: 768px) {
  .hero-slide__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .hero-slide__title {
    font-size: 1.5625rem;
  }
}
.hero-slide__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .hero-slide__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero-slide__text {
  margin: 0;
  font-size: 1.25rem;
  line-height: 150%;
}
.hero-slide__text:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .hero-slide__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero-slide__btn-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
}
@media (max-width: 500px) {
  .hero-slide__btn-box {
    margin-top: -15px;
  }
}
.hero-slide__btn-box > *:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 500px) {
  .hero-slide__btn-box > *:not(:last-child) {
    margin-right: unset;
  }
}
.hero-slide__btn {
  margin-top: 24px;
}
@media (max-width: 500px) {
  .hero-slide__btn {
    flex: 1 1 100%;
    margin-top: 15px;
  }
}